{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Futebol</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
    <a href="/times/">Times</a>

    <form action="/logout/" method="post" style="display:inline;">
        {% csrf_token %}
        <button style="
            background:none;
            border:none;
            color:blue;
            cursor:pointer;
            text-decoration:underline;
            font-size:16px;">
            Sair
        </button>
    </form>
</nav>

<div class="container">

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}

</div>

</body>
</html>